/* 
GENERAL
*/

*{
    list-style: none;
}

a{
    text-decoration: none;
}

.max-hg-wo-h{
    height: calc(100vh - 70px);
}

/*
    HEADER
*/

.big-logo-fixed-height{
    height: 25px;
}

.small-logo-fixed-height{
    height: 40px;
}


/* 
    MAIN
*/

aside ul li:hover{
    opacity: 0.7;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
}

aside > div > div a:hover{
    opacity: 0.7;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
}

.icon-sizing{
    width: 20px;
    height: 20px;
}

.side-custom-bg{
    background-image: url(../img/sidebar-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #12293E;
}

.bg-blue-custom{
    background-color: #165BBA;
}

.custom-orange-badge-color{
    background-color: #F26551;
}
.smaller-font-size{
    font-size: 14px;
}

.custom-white-bg{
    background-color: #F7F7F7;
}

/* 
    RESPONSIVE
*/

@media screen and (min-width: 768px) {
    
    .w-md-50{
        width: 50% !important;
    }
}